@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
    --shadow-color : rgba(255, 0, 85, 0.856);
}
html{
    font-size: 62.5%;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{ 
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-weight: bold;
}
.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
 
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-size: 400;
    cursor: default;
    transition: .3s;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem; 
    padding: 8px 10px;   
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    transition: .5s;
    background: linear-gradient(var(--main-color));

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 25px;

}
.home-content h3{
    font-size: 2.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.5rem;
    max-width: 800px;
}
.home-content span{
    color: var(--main-color);
}
.home-img img{
    width: 30vw;
    border-radius: 50%;
    outline: var(--main-color);
    margin-left: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    background-color: var(--main-color);
}
span{
    color: var(--main-color);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin-top: 2rem;
    padding: 2rem;
    margin: .5rem;
    transition: .5s ease;
}
.social-media a:hover{
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--main-color);
    background: var(--second-bg-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 .5rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: 1rem;
    transition: .5s ease; 
    margin-bottom: 20px;   
}
.btn:hover{
    box-shadow: none;
}
.btn-home{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 .5rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: 1rem;
    transition: .5s ease; 
    box-shadow: none; 
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:var(--second-bg-color);
    width: 100%;
}
.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 2rem;
}
.about-img img{
    width: 30vw;
    border-radius: 50%;
    outline: var(--main-color);
    margin-left: 50px;
    box-shadow: 0 0 2rem var(--main-color);
    background-color: var(--main-color);
    
}
.about-img img,.home-img img{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3.4rem);
    }
    100%{
        transform: translatex(0);
    }

}

.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-top: 2.5rem;
}
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-bg-color); 
 } 
.about-content h2{
    text-align: left;
}
.about-content span{
    color: var(--main-color);
}
.about-content h3{
    font-size: 2.1rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: .5rem 0rem .5rem;
}

/*Skills Property*/
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}
.skills .heading{
    margin-bottom: 4rem;
    padding-top: 4rem;
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin:  0 0 1.5rem;

}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3 span{
    color: var(--text-color);
}
.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    margin: 1rem 0;
    padding: .2rem;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skills-column:nth-child(1)  .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1)  .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1)  .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(1)  .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}
.skills-column:nth-child(1)  .skills-content .progress:nth-child(5) .bar span{
    width: 80%;
}

.skills-column:nth-child(2)  .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(2)  .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
}
.skills-column:nth-child(2)  .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
 
/*My skills section*/

section .skills{
    display: flex;
    align-items: center;
    width: 100%;
}

.skills h2{
    align-items: center;
}
.services h2 {
    margin-bottom: 5rem;
} 

.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.services-box {
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
}
.services-box .bx {
    font-size: 4rem;
    color: var(--main-color)
}

.services-box h3 {
    font-size: 2rem;
}
.services-container .services-box:hover{
    border-color:var(--main-color);
    transform: scale(1.02);
    transition: .5s ease;

}
.services-box p{
    font-size: 1.3rem;
}

.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
    max-width: 140rem;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-self: auto;
}
.portfolio-box img{
    width: 100%;
    height: 250px;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 2.5rem;
}
.portfolio-layer p{
    font-size: 1.2rem;
    margin: .3rem 0;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.box{
    position: relative;
    width: 400px;
    height: 550px;
    background: var(--second-bg-color);
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 550px;
    background: linear-gradient(0deg,transparent,transparent,var(--main-color),var(--main-color),var(--main-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 550px;
    background: linear-gradient(0deg,transparent,transparent,var(--main-color),var(--main-color),var(--main-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{

   0%{
    transform: rotate(0deg);
   }
   100%{
    transform: rotate(360deg);
   }

}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 550px;
    background: linear-gradient(0deg,transparent,transparent,var(--shadow-color),var(--shadow-color),var(--shadow-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 550px;
    background: linear-gradient(0deg,transparent,transparent,var(--shadow-color),var(--shadow-color),var(--shadow-color));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
.box form{
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    background: var(--second-bg-color);
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;

}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 25px 8px 2px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--second-bg-color);
    font-size: 1em;
    transition: .5s;
    z-index: 10;
}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    transition: .5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
    color-scheme: var(--text-color);
    font-size: .75rem;
    transform: translateY(-25px);   
}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
    height: 30px;
}
.box form input[type = "submit"]{

    border: none;
    outline: none;
    padding: 10px 5px;
    background:var(--main-color);
    color: var(--second-bg-color);
    cursor: pointer;
    font-size:1.2rem;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top:  35px;
    font-weight: bold;
    margin-left: 100px;
}
.box form input[type = "submit"]:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.box form input[type = "submit"]:active{
    opacity: 0.8;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display:inline-flex;
    justify-content:center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

/*make resposive*/
@media(max-width:1200px){
    html {
        font-size: 55%;
    }
}

@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem;
    }
    .home{
        margin-top: 0;
    }
    .home-img img{
        width: 30vw;
    }
}
@media(max-width: 768px){
    .header{
        width: 100%;
    }
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background:var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
        margin-top: 50px;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .about{
        flex-direction: column-reverse;
        margin-top: 20px;
        /* margin-bottom: 100px; */
        width: 100%;
    }
    .about-img{
        width: 20vh;
        margin-bottom: 20;
    }
    .about-img img{
        margin-bottom: 10px;
        width: 35vh;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:671px){
    .about{
        flex-direction: column-reverse;
        margin-top: 20px;
        width: 100%;
    }
    .about-img{
        width: 20vh;
        margin-bottom: 20;
    }
    .about-img img{
        margin-bottom: 10px;
        width: 35vh;
    }   
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home-content h3,.home-content h3:nth-of-type(2),.home-content h1{
        text-align: center;
    }
    .home-content p{
        text-align: center;
    }
    .social-media {
        align-items: center;
        margin-left: 100px;
    }
    .btn-home{
        margin-left: 120px;
        margin-bottom: 50px;
    }
    .home-img img{
        width: 50%;
        margin-left: 100px;
        margin-bottom: -90px;
    }
    .about{
        align-items: center;
        margin-top: -20px;
    }
    .about-img{
        padding-top: 20px;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        align-items: center;
        width: 100%;
    }
    .footer-text {
        align-items: center;
        margin-left: 30px;

    }
}

@media (max-width:380px) {
    .home-content h1{
        font-size: 2.5rem;
    }
    .home-content h3{
        font-size: 2rem;
    }
    html{
        font-size: 45%;
    }
    .home-img img{
        width: 60vh;
        margin-left: -6px;
    }
    .about img{
        width: 60vh;
        margin-top: 100px;
        margin-left: -4px;
    }
    .social-media{
        margin-left:125px;
    }
    .btn-home{
        margin-left:100px;
    }
    .contact-container{
        padding: 10px;
    }
   .box form .inputbox input:valid ~ i,
   .box form .inputbox input:focus ~ i{
       width: 250px;
    }
    .box form .inputbox input{
        width:250px;
    }
    .box form .inputbox i{
        width: 250px;
    }
    .box form input[type = "submit"]{
        margin-left: 70px;
        font-size: 1.8rem;
    }

}